body {
    margin: 0;
    padding: 0;
    background-color: #242424;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    text-align: left;
    padding: 50px;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 50px;
    background-color: transparent;
}

nav a {
    text-decoration: none;
    color: #aaa;
    margin-left: 20px;
    font-size: 1rem;
    /* font-family: 'IBM Plex Mono', monospace; */
    transition: color 0.3s ease-in-out;
}

nav a:hover,
nav a.active {
    color: white;
    font-weight: bold;
}

/* Typography */
h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

h2 {
    font-size: 1.8rem;
    font-weight: 500;
}

.highlight {
    font-weight: bold;
}

.code {
    font-family: 'IBM Plex Mono', monospace;
}

.links a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 1.2rem;
    border-bottom: 2px solid white;
}

.badges img {
    margin: 10px;
}
